@import '@/assets/styles/element-reset';
@import '@/assets/styles/unocss';

:root {
  /* 窗口控件高度 */
  --window-controls-height: 35px;

  /* 导航栏高度 */
  --navbar-height: 80px;

  /* 顶部总高度 = 窗口控件高度 + 导航栏高度 */
  --top-height: calc(var(--window-controls-height) + var(--navbar-height));

  /*标签栏高度 */
  --tabs-height: 30px;

  /* 侧边栏宽度 */
  --sidebar-width: 200px;

  /* 主题颜色 */
  --theme-color: #409eff;

  /* 顶部导航栏背景色 */
  --navbar-bg-color: #0075f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  background: #f6f7fb;
  color: #222;
  scrollbar-gutter: stable overlay;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  font-size: 14px;
}

button,
input,
textarea {
  font-family: inherit;
}

/* 统一的滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}
